@using Team16LonghornBank.Controllers
@model Team16LonghornBank.Models.Transaction

@{
    ViewBag.Title = "Make a withdrawal";
}

<h2>Make a withdrawal</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Which IRAccount would you like to make a withdrawal to?</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">IRAccounts</label>
            <div class="col-md-10">
                @Html.DropDownList("IRAccountID", (SelectList)ViewBag.iRAccounts, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">


            <label class="radio">@Html.RadioButton("SelectedFee", FeeOptions.IncludeFee, true)Include fee in withdrawl amount</label>


            <label class="radio">@Html.RadioButton("SelectedFee", FeeOptions.AdditionalFee)Add additional cost to withdrawl amount</label>

        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Make a withdrawal" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Withdrawal", "Transactions", null, new { @class = "btn btn-default" })
</div>
