@model IEnumerable<Team16LonghornBank.Models.StockPortfolio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashValueBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockPortionValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBalanced)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashValueBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockPortionValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isBalanced)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StockPortfolioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StockPortfolioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StockPortfolioID })
        </td>
    </tr>
}

</table>
