@model Team16LonghornBank.Models.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBeingDisputed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBeingDisputed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeComments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back", "EmployeePortal", "Manage", null, new { @class = "btn btn-default" })
            <input type="submit" value="Delete Transaction" class="btn btn-danger" />
        </div>
    }
</div>
